.controlpanelRoute {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  position: relative;
}

.controlpanelRoute h1,
.controlpanelRoute p {
  user-select: none;
}

.dispatchBtn {
  background: url("../assets/greenBtn_off.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12%;
  height: 24%;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

#dispatchBtn1 {
  top: 70%;
  left: 5%;
}

#dispatchBtn2 {
  top: 70%;
  right: 5%;
}

.switch {
  background: url("../assets/switch_right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12%;
  height: 24%;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

#gatesSwitch {
  top: 20%;
  left: 52.5%;
}

#harnessSwitch {
  top: 20%;
  left: 27.5%;
}

#platformSwitch {
  top: 55%;
  left: 27.5%;
}

#carSwitch{
  top: 55%;
  left: 52.5%;
}

.emergencyBtn {
  background: url("../assets/emergencyBtn_released.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 50%;
  position: absolute;
  top: 5%;
  right: 2.5%;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

/* -------- text ----------*/

.dispatchTitle {
  font-size: 1.3vw;
  text-align: center;
  transform: translate(0, -180%);
}

.switchTitle {
  font-size: 1.3vw;
  text-align: center;
  transform: translate(0, -200%);
}

.subSigns {
  display: flex;
  justify-content: center;
  transform: translate(0, -110%);
}

.openSign {
  font-size: 1.3vw;
  margin-right: 40%;
}

.closeSign {
  font-size: 1.3vw;
  margin-left: 40%;
}
